/*GLOBAL*/


body {
    margin: 0;
}

 h1{
    color: aliceblue;
    background-color: rgb(31, 31, 76);
    text-align: center;
    padding: 10px;
 }

 .wrapper{
    max-width: 960px;
    border: solid 1px black;
    margin: 0 auto;
 }

/*HERO*/
.hero{
    background-image: url(../images/hero-img.png);
   background-size: cover;
   background-position: center;
   min-height: 450px; 
   /* so the image doesnt cut and become small. iski wajjah se the image will become big and show till 450px*/
   /* background-repeat: no-repeat;  if you use contain instead of cover in bg size, we can use this so the img dioesnt repeat itself once finished */
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.hero h2{
    text-align: left;

    width: 350px ; 
    /* min-width: 400px; if we use this, it will spread the purple bg behind the text to the whole screen. we used the width here just so only the area behind the text remains purple  
    also, if you use the margin feature that is shown in the comment below, then use min width to put small purple bg behind the text but in the middle of the screen instead */
    /* margin: 0 auto;  '0' is for up and down margin whereas auto is for left and right, so once we remove this property, the heading will move to the side instead of the middle*/
    color: aliceblue;
    background-color: rgb(66, 25, 80);
    padding-top: 10px ;
    padding-bottom: 10px ;
    margin: 0%;
    padding-left: 25px;
}

.hero h3{
    text-align: left;
    padding-left: 15px;
    color: aliceblue;
    margin-top: 10px;
    background-color: rgb(48, 9, 58);
    width: 415px ;   
}
 
/*GALLERY*/
.gallery h3{
    background-image: url(../images/gallery-heading-bg.png);
    padding: 20px;
    color:aliceblue;
    text-align:center ;
    margin: 0%;

}
.gallery-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* 200px 1fr 1fr  if you use this, first img will be 200px and the other images will cover rhe rest of the area*/
    grid-gap:10px
}

.gallery-images img{
    width: 100%;
    object-fit: cover;
}
/* object-fit is a property which will act the same as bg size in hero img but for images like the images in the grid. use obj fit: cover*/

/*footer*/

footer{
    background-image: url(../images/gallery-heading-bg.png);
    display: flex;
    padding:15px;
    color: aliceblue;
}

footer div{
    margin: 10px;
    padding: 10px;
}

.footer_nav li{
    text-decoration: none;
}

#sec-nav{flex: 1;}
#info{flex: 1;}
#map{flex: 4;}

footer div iframe{
    width: 100%;
    height: 100%;
}